root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Match nix files, set indent to spaces with width of two
[*.nix]
indent_style = space
indent_size = 2

# Shell
# https://google.github.io/styleguide/shell.xml#Indentation
[*.{bash,sh,zsh}]
indent_size = 2
indent_style = space

# confg + cfg
[*.{conf,cfg}]
charset                     = UTF-8
end_of_line                 = LF
indent_size                 = 4
indent_style                = tab
insert_final_newline        = true
tab_width                   = 4
trim_trailing_whitespace    = true
